
header {
  background-color: #181c24;
  padding: 0px;
}

.nav-bar {
  padding: 10px 16px;
  margin: 0;
}

.nav-bar a {
  color: #314F35;
  text-decoration: none;
  padding: 10px;
}

.nav-bar a:hover {
  color: #415F45; 
}

.banner {
  background-color: #3D5A5D;
  margin: 0;
}

.banner p {
  color: #FF7777;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 30s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

